body {
    background-color: aquamarine;
}

.articles {
    display: flex;
    flex-direction: row;
}

#articles_article1 {
    margin: 25px;
    flex-basis: 50%;
    border: solid 1px red;
}

#articles_article2 {
    margin: 25px;
    flex-basis: 50%;
    border: solid 1px blue;   
}